<div id="wi-div-waiting" style="display: none;">
    <div class="spinner">
        <div class="cube cube0"></div>
        <div class="cube cube1"></div>
        <div class="cube cube2"></div>
        <div class="cube cube3"></div>
        <div class="cube cube4"></div>
        <div class="cube cube5"></div>
        <div class="cube cube6"></div>
        <div class="cube cube7"></div>
        <div class="cube cube8"></div>
        <div class="cube cube9"></div>
        <div class="cube cube10"></div>
        <div class="cube cube11"></div>
        <div class="cube cube12"></div>
        <div class="cube cube13"></div>
        <div class="cube cube14"></div>
        <div class="cube cube15"></div>
    </div>
</div>
