<div>
    <div class="container-fluid">
        <!-- 本页定制CSS -->
        <style>
            .tab_navs, .tab_navs li {
                list-style: none; /* 将默认的列表符号去掉 */
                padding: 0; /* 将默认的内边距去掉 */
                margin: 0; /* 将默认的外边距去掉 */
                margin-left: 7px;
                margin-right: 30px;
                margin-top: 4px;
            }

                .tab_navs li {
                    float: left;
                }
        </style>
        <div class="row" style="margin-left: 10px; margin-right: 10px">
            <div class="col-md-6 col-lg-7">
                <div class="row">
                    <div class="panel panel-default" style="margin-left: 20px; margin-right: 20px">

                        <div class="panel-body">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="javascript:void(0);">群發消息</a>
                                </div>
                                <div>
                                   <!-- <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">對象<b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation">
                                                    <a ng-click="sendType=1" role="menuitem" tabindex="-1" href="javascript:void(0);">全部用戶</a>
                                                </li>
                                                <li role="presentation">
                                                    <a ng-click="sendType=2" role="menuitem" tabindex="-1" href="javascript:void(0);">按分組選擇</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown" ng-if="sendType==2">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">分組信息<b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                <li role="presentation" ng-repeat="group in groups">
                                                    <a ng-click="ChangeSelectGroup(group.id)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{group.name+'('+group.count+')'}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>-->

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{SQCType_Title}}<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:void(0);" ng-click="ChangeContentType('text')">文本</a></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeContentType('image')">圖片</a></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeContentType('voice')">音頻</a></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeContentType('video')">視頻</a></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeContentType('mpnews')">圖文</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeContentType(null)">所有類型</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{SQSState_Title}}<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:void(0);" ng-click="ChangeSState(1)">待審核</a></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeSState(3)">已發送</a></li>
                                                <li class="divider"></li>
                                                <li><a href="javascript:void(0);" ng-click="ChangeSState(null)">所有狀態</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);" ng-click="Query()" class="btn btn-default">查 詢</a></li>
                                        <li><a href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </nav>

                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                <thead>
                                    <tr>
                                        <th>消息編號</th>
                                        <th>修改人員</th>
                                        <th>修改時間</th>
                                        <th>消息類型</th>
                                        <th>發送狀態</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="GSMessage in GSMessages|filterSubArray:curPageIndex">
                                        <td>{{GSMessage.ID}}</td>
                                        <td>{{GSMessage.UserID}}</td>
                                        <td>{{GSMessage.MTimeX}}</td>
                                        <td>
                                            <img ng-if="GSMessage.ContentType=='text'" src="/Images/common/文本g.png">
                                            <img ng-if="GSMessage.ContentType=='image'" src="/Images/common/图片g.png">
                                            <img ng-if="GSMessage.ContentType=='voice'" src="/Images/common/音频g.png">
                                            <img ng-if="GSMessage.ContentType=='video'" src="/Images/common/视频g.png">
                                            <img ng-if="GSMessage.ContentType=='mpnews'" src="/Images/common/图文g.png">
                                        </td>

                                        <td>
                                            <span ng-if="GSMessage.SState!=1" class="label label-sm label-warning">{{GSMessage.SStateX}}</span>
                                            <span ng-if="GSMessage.SState==1" class="label label-sm label-primary">{{GSMessage.SStateX}}</span>
                                        </td>
                                        <td>
                                            <a ng-if="GSMessage.SState==1" ng-click="ChangeCur(GSMessage)" href="javascript:void(0);">預覽審核</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="margin-left: 10px;">
                                <ul class="pagination" style="margin-top: 0px; margin-bottom: 0px;">
                                    <li><a href="javascript:void(0);" ng-click="ChangeTbPage(1)">&laquo;</a></li>
                                    <li ng-repeat="i in pageCount"><a href="javascript:void(0);" ng-click="ChangeTbPage(i)">{{i}}</a></li>
                                    <!--<li><a href="#">&raquo;</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="panel-footer">
                            待審核消息隊列
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="row">
                    <div class="panel panel-default" style="margin-left: 20px; margin-right: 20px">
                        <div class="panel-body">
                            <div class="row" style="margin-left: 15px; margin-bottom: 25px">
                                <ul class="tab_navs">
                                    <li data-type="1" data-tab=".js_textArea" data-tooltip="文字">
                                        <a href="javascript:void(0);">
                                            <img ng-if="CurCType=='text'" src="/Images/common/文本s.png">
                                            <img ng-if="CurCType!='text'" src="/Images/common/文本g.png">
                                        </a>
                                    </li>
                                    <li data-tooltip="图片">
                                        <a href="javascript:void(0);">
                                            <img ng-if="CurCType=='image'" src="/Images/common/图片s.png">
                                            <img ng-if="CurCType!='image'" src="/Images/common/图片g.png">
                                        </a>
                                    </li>
                                    <li data-tooltip="语音">
                                        <a href="javascript:void(0);">
                                            <img ng-if="CurCType=='voice'" src="/Images/common/音频s.png">
                                            <img ng-if="CurCType!='voice'" src="/Images/common/音频g.png">
                                        </a>
                                    </li>
                                    <li data-tooltip="视频">
                                        <a href="javascript:void(0);">
                                            <img ng-if="CurCType=='video'" src="/Images/common/视频s.png">
                                            <img ng-if="CurCType!='video'" src="/Images/common/视频g.png">
                                        </a>
                                    </li>
                                    <li data-tooltip="图文消息">
                                        <a href="javascript:void(0);">
                                            <img ng-if="CurCType=='mpnews'" src="/Images/common/图文s.png">
                                            <img ng-if="CurCType!='mpnews'" src="/Images/common/图文g.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <hr style="filter: alpha(opacity=100,finishopacity=0,style=1); width: 100%;" />
                            <div class="row" id="fra">
                                <div style="position: relative; color: #000; width: auto; height: 650px">
                                    <div style="position: absolute; z-index: 1; left: 10px; top: 10px; background: url('/Images/common/phone.jpg'); width: 400px; height: 628px;">
                                    </div>
                                    <div style="position: absolute; z-index: 2; left: 32px; top: 148px; overflow: auto; background: #ffffff; width: 354px; height: 358px;">

                                        <div ng-show="CurCType=='text'" class="row well" style="width: 330px; margin-top: 5px; margin-left: 10px">
                                            <img src="/Images/common/user.jpg" style="width: 30px; height: 30px" />
                                            <textarea ng-model="text" style="margin-left: 5px; margin-top: 5px; width: 96%" class="form-control" rows="7" disabled></textarea>
                                        </div>
                                        <div ng-controller="PictureListCtrl" ng-show="CurCType=='image'" class="row well" style="width: 330px; margin-top: 5px; margin-left: 10px">
                                            <wxpicturedisplay></wxpicturedisplay>
                                        </div>
                                        <div ng-controller="VoiceListCtrl" ng-show="CurCType=='voice'" class="row" style="width: 310px; margin-top: 5px; margin-left: 10px;">
                                            <wxvoiceplay></wxvoiceplay>
                                        </div>
                                        <div ng-controller="VideoListCtrl" ng-show="CurCType=='video'" class="row" style="width: 310px; margin-top: 5px; margin-left: 10px;">
                                            <wxvideoplay></wxvideoplay>
                                        </div>
                                        <div ng-controller="ArticleListCtrl" ng-show="CurCType=='mpnews'" class="row" style="width: 310px; margin-top: 5px; margin-left: 10px">
                                            <wxarticledisplay></wxarticledisplay>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button ng-click="displayBtn=1" style="width: 200px; margin-left: 10px" class="btn btn-primary btn-sm">審核通過并群發消息</button>
                            <button ng-if="displayBtn==1" id="ui_btnLoading" data-loading-text="發送中，請稍後……" type="button" class="btn btn-success btn-sm" ng-click="SendGroupMessage()">確認</button>
                            <button ng-if="displayBtn==1" ng-click="CancelSend()" class="btn btn-danger btn-sm">取消</button>
                            <input style="width: 200px; float: right; margin-right: 20px" type="text" class="form-control" value="您本月還能群發0條信息">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
