@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}


@section HeaderContent
{
    @Styles.Render("~/Bundles/Authority/Css")
    <script src="~/Scripts/Shared/Pagination.js"></script>

    <script type="text/javascript">

        $(function () {
            GetPagingList();
        });


        function btn_New(url) {
            window.location.href = url;
        }

        function btn_Edit(url) {
            var tr = $("#table tr").has("td input[type='checkbox']:checked");
            if (tr.length == 1) {
                var userID = tr.find("td").eq(1).text();
                window.location.href = url + "?UserID=" + userID;
            } else {
                alert("请选择一条记录！");
            }
        }

        function btn_Del(url) {
            var tr = $("#table tr").has("td input[type='checkbox']:checked");
            if (tr.length == 1) {
                var id = tr.find("td").eq(1).text();
                if (confirm("是否确认删除选项？")) {
                    $.post(url, { UserID: id }, function (data) {
                        if (data.IsSuccess) {
                            alert("操作成功！");
                            GetPagingList();
                        } else {
                            alert("操作失败！");
                        }
                    });
                }
            } else {
                alert("请选择一条记录！");
            }
        }


    </script>
}


@using (Html.BeginForm())
{ 
    <div class="ui_content">
        <div class="ui_text_indent">
            <div id="box_border">
                <div>
                    <input type="button" value="添加" class="ui_input_btn01" onclick="btn_New('/User/New');" />
                    <input type="button" value="修改" class="ui_input_btn01" onclick="btn_Edit('/User/Edit');" />
                    <input type="button" value="删除" class="ui_input_btn01" onclick="btn_Del('/User/Delete');" />
                </div>
                <div id="box_top">搜索</div>
                <div id="box_center">
                    UserID：
                        @Html.TextBox("userID", null, new { @class = "ui_input_txt02" })
                    UserName：
                        @Html.TextBox("userName", null, new { @class = "ui_input_txt02" })
                </div>
                <div id="box_bottom">
                    <input type="button" value="查詢" class="ui_input_btn01" onclick="GetPagingList();" />
                </div>
            </div>
        </div>
    </div>
    Html.RenderPartial("~/Views/Shared/_PartialList.cshtml");
}

