<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
  </configSections>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <!--
        inline ：log4net 节点在App.Config/Web.Config 文件中配置
        file：使用外置配置文件 (需要configFile参数配合使用，<arg key="configFile" value="外部配置文件") 
        file-watch: 与"file"一样，只是多了一个监视外部配置文件的变动功能，如果有变动则重新加载配置。
        external：IBatis将不会尝试配置Log4Net。
        -->
        <arg key="configType" value="external" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>