<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
                type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=Neutral, PublicKeyToken=bf100aa01a5c2784" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <!--每个<appender>子节点代表一种记录日志的方式-->
  <log4net>
    <!-- 这个日志是系统其他地方写日志时候用到的设置 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Project\TGNet\TG.Example\TG.Example.Console\Logs\Log_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------&#xD;&#xA;" />
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>

    <!-- IBatisLogFile的日志 -->

    <appender name="IBatisLogFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Project\TGNet\TG.Example\TG.Example.Console\Logs\iBatis_" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd'.txt'" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date{dd/MM/yyyy-HH:mm:ss} %m%newline%exception" />
      </layout>
    </appender>

    <!-- IBatisMapperLogFile的日志 -->

    <appender name="IBatisMapperLogFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Project\TGNet\TG.Example\TG.Example.Console\Logs\iBatisMapper_" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd'.txt'" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy-HH:mm:ss} %m%newline%exception" />
      </layout>
    </appender>

    <!-- IBatisCacheLogFile的日志 -->

    <appender name="IBatisCacheLogFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Project\TGNet\TG.Example\TG.Example.Console\Logs\iBatisChache_.log" />
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy-HH:mm:ss} %m%newline%exception" />
      </layout>
    </appender>


    <!-- 注意一定要加additivity="false"，因为异常日志是往上传递的，如果不加这个属性，在系统的总日志里面也会有IBatisNet的日志，这样就重复记录了 -->
    <logger name="IBatisNet" additivity="false">
      <level value="ALL"/>

      <!--如果想增加日志输出目的地，增加<appender-ref>节点就是了，注意后面的ref是在config中配置的appender name-->
      <appender-ref ref="IBatisLogFile" />
    </logger>

    <!-- 注意一定要加additivity="false"，因为异常日志是往上传递的，如果不加这个属性，在系统的总日志里面，以及IBatisNet里的日志里，也会有IBatisNet.DataMapper的日志，这样就重复记录了 -->

    <logger name="IBatisNet.DataMapper" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="IBatisMapperLogFile" />
    </logger>
  </log4net>
</configuration>