<div class="row">
	<div class="col-md-12">
		<h4 class="pull-left">發鑲珠寶 ﹣ 配石調配</h4>
		<h5 class="pull-right">總數 ：0</h5>
	</div>
</div>
<div class="row">
	<form class="form-inline" id="diamondQuerySelection">
		<div class="col-md-10 pr0">
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w75" id="" placeholder="貨品號碼">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w75" id="" placeholder="鑽石批號">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w75" id="" placeholder="克拉重量">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w45" id="" placeholder="淨度">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w45" id="" placeholder="形狀">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w75" id="" placeholder="顏色等級">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w45" id="" placeholder="店舖">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w75" id="" placeholder="上傳日期">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w90" id="" placeholder="排序">
			</div>
			<div class="form-group">
			 	<label for="" class="sr-only"></label>
			 	<input type="text" class="form-control w45" id="" placeholder="狀態">
			</div>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-link">重置</button>
			<button type="button" class="btn btn-link">查詢</button>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-link pl0">確定</button>
		<button type="button" class="btn btn-link pl0">取消</button>
		<button type="button" class="btn btn-link pl0">列印</button>
	</div>
	<div class="col-md-12" id="diamondAssignResult">
		<table class="table table-condensed">
		  <thead>
		  	<tr>
		  		<th class="w100">貨品編號</th>
		  		<th class="w100">鑽石批號</th>
		  		<th class="w50">形狀</th>
		  		<th class="w75">克拉重量</th>
		  		<th class="w75">顏色等級</th>
		  		<th class="w50">淨度</th>
		  		<th class="w50">店舖</th>
		  		<th class="w100">上傳日期</th>
		  		<th>新店舖</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<td>1234567890</td>
		  		<td>7832067890</td>
		  		<td>圓形</td>
		  		<td>0.52</td>
		  		<td>D</td>
		  		<td>VS2</td>
		  		<td>TS8</td>
		  		<td>2013-07-08</td>
		  		<td>
		  			<label for="" class="sr-only"></label>
			 		<input type="text" class="form-control w45" id="" placeholder="">
		  		</td>
		  	</tr>
		  	<tr>
		  		<td>1234567890</td>
		  		<td>7832067890</td>
		  		<td>圓形</td>
		  		<td>0.52</td>
		  		<td>D</td>
		  		<td>VS2</td>
		  		<td>TS8</td>
		  		<td>2013-07-08</td>
		  		<td>
		  			<label for="" class="sr-only"></label>
			 		<input type="text" class="form-control w45" id="" placeholder="">
		  		</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>