<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Key-->
    <add key="UserKey" value="J9m5RAClP7f9hc2Q5zUvjw==" />
    <!--oracle is instance name; sqlserver is catalog name -->
    <add key="DB_DATABASE" value="WeChat" />
    <!--decrypt key :emperors-->
    <!--<add key="DB_IP" value="tdksvgusbc.database.windows.net" />-->
    <!--<add key="DB_IP" value="172.30.1.192" />-->
    <add key="DB_IP" value="localhost" />
    <add key="DB_PORT" value="" />
    <!--作为全局级数据库类型设置， dbtype:0=oracle, 1=sqlserver, 5=mysql,-->
    <add key="DB_TYPE" value="1" />
    <add key="DB_USER" value="xR9h537/EGc=" />
    <add key="DB_PSW" value="eY0QVfRDMYONkMt0CrOL1g==" />
    <!--Weixin Account info-->
    <add key="WX_appID" value="BodLY0YbZrg9btSOPysAoP2O+zWkUaRD" />
    <add key="WX_appsecret" value="vRv3nMlA8NTWbdCD/xNeouzTHWFbJwNB6pzl7H+DtG5w219w8cKYyQ==" />
    <add key="WX_Token" value="2MhQ3/eiB7FGsbGJhAFzqg==" />
    <!--微信其他功能-->
    <add key="WeixinAgentUrl" value="外部代理Url" />
    <add key="WeixinAgentToken" value="外部代理Token" />
    <add key="WeixinAgentWeiweihiKey" value="外部代理SouideaKey" />
    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay" />
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId" />
    <add key="WeixinPay_Key" value="WeixinPay_Key" />
    <add key="WeixinPay_AppId" value="WeixinPay_AppId" />
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey" />
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccountValidationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50947/AccountValidationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountValidationService"
        contract="ODSSvcRef.IAccountValidationService" name="BasicHttpBinding_IAccountValidationService" />
    </client>
  </system.serviceModel>
</configuration>