<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--测试数据库 -->
    <add key="DB_DATABASE" value="test" />
    <add key="DB_IP" value="127.0.0.1" />
    <add key="DB_PORT" value="" />
    <add key="DB_TYPE" value="5" />
    <add key="DB_USER" value="guest" />
    <add key="DB_PSW" value="504" />
    <add key="CHARACTER_SET" value="utf8" />    
  </appSettings>
</configuration>