<configuration>
  <appSettings>
    <add key="UserKey" value="Xa0r+wmFDWpokfxpxB1x/Q==" />
    <add key="EncryptType" value="40" />
    <!--encrypt type : 35=hk encrypt 40=gz encrypt-->
    <add key="EncryptionStringTest" value="1jTm9kpgL9jAarj7Xn4ivg==" />
    <!-- ================================================================== -->
    <!--                 SQLSERVER Database                                 -->
    <!-- ================================================================== -->
    <add key="SQLSERVER_DB_USER" value="sa" />
    <add key="SQLSERVER_DB_DATABASE" value="DCETLBig" />
    <add key="SQLSERVER_DB_PSW" value="Pw123456" />
    <add key="SQLSERVER_DB_IP" value="172.30.1.129" />
    <add key="SQLSERVER_DB_PORT" value="" />
    <!-- 作为全局级数据库类型设置， dbtype:0=oracle, 1=sqlserver, 5=mysql, -->
    <add key="SQLSERVER_DB_TYPE" value="1" />
    <!-- ================================================================== -->
    <!--                    Oracle Database                                 -->
    <!-- ================================================================== -->
    <!--Data Source=172.30.1.65:1522/xe;user id=czjd_sd;password=czjd_sd;-->
    <add key="ORACLE_DB_USER" value="czjd_sd" />
    <add key="ORACLE_DB_DATABASE" value="xe" />
    <add key="ORACLE_DB_PSW" value="czjd_sd" />
    <add key="ORACLE_DB_IP" value="172.30.1.65" />
    <add key="ORACLE_DB_PORT" value="1522" />
    <!-- 作为全局级数据库类型设置， dbtype:0=oracle, 1=sqlserver, 5=mysql, -->
    <add key="ORACLE_DB_TYPE" value="0" />
    <!-- ================================================================== -->
    <!--                     MYSQL Database                                 -->
    <!-- ================================================================== -->
    <add key="MYSQL_DB_IP" value="localhost" />
    <add key="MYSQL_DB_PORT" value="7306" />
    <add key="MYSQL_DB_DATABASE" value="hkdn" />
    <add key="MYSQL_DB_USER" value="root" />
    <add key="MYSQL_DB_PSW" value="root" />
    <add key="MYSQL_CHARACTER_SET" value="latin1" />
    <!-- 作为全局级数据库类型设置， dbtype:0=oracle, 1=sqlserver, 5=mysql, -->
    <add key="MYSQL_DB_TYPE" value="5" />
    <!-- ================================================================== -->
    <!--                    unit data                                       -->
    <!-- ================================================================== -->
    <add key="TEST_INT" value="1" />
    <add key="TEST_LONG" value="123456789" />
    <add key="TEST_DOUBLE" value="5.23" />
    <add key="TEST_BOOL" value="true" />
    <add key="TEST_DATETIME" value="2013-02-25" />
    <add key="TEST_ENCRYPTION" value="/boT+EGD9SDyN5DarrBXAw==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>