@{
    ViewBag.Title = "微信服務號";
    Layout = null;
}
<section class="content-wrapper main-content clear-fix">

    <p>官方服務號帳號： 000000(等待設置)</p>
    <p>
        或者掃描以下二維碼添加關注：
    <br />
        <img src="~/Images/qrcode.jpg" />
    </p>
</section>
