<div ng-init="childInit()">
    <style>
        #scroller ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: left;
        }

        #scroller li {
            padding: 0 10px;
            height: 5rem;
            line-height: 40px;
            border-bottom: 1px solid #f2f2f2;
            border-top: 1px solid #fff;
            /*background-color: #fafafa;*/
            font-size: 2rem;
        }

            #scroller li.li-bc-un {
                height: 5rem;
            }

            #scroller li.li-bc-active {
                height: 15rem;
            }
    </style>
    <div>
        <button type="button" ng-click="loadOrgs()">doc</button>
        <ul id="thelist">
            <li>
                Pretty row 1
                <!--    <button type="button" class="btn btn-primary btn-block">ceshi</button>-->
            </li>
            <li ng-show="ok" ng-swipe-left="ok=false">Pretty row 2</li>
            <li ng-click="changeActive()" ng-class="{true: 'li-bc-active', false: 'li-bc-un'}[isActive]">Pretty row 3</li>
            <li>Pretty row 4</li>
            <li>Pretty row 5</li>

        </ul>
    </div>
</div>
