<div ng-init="childInit()">
    ccc
     kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />
    kkk kkk<br />

</div>
