<log4net>

  <!--控制台appender-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyMMdd HHmmss,fff}[%thread]%-5level %logger- %message%newline" />
    </layout>
  </appender>

  <!--默认文件appender。按日期分块。-->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\\log\\Wechat.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}[%thread]%-5level %logger{1}- %message%newline" />
    </layout>
  </appender>
  
  
  <!--WeixinMessageSender独立出来的日志文件。按日期分块。-->
  <appender name="RollingFileAppenderWeixinMessageSender" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\\log\\WeixinMessageSender.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}[%thread]%-5level %logger{1}- %message%newline" />
    </layout>
  </appender>
  <!--WeixinWeixinController独立出来的日志文件。按日期分块。-->
  <appender name="RollingFileAppenderWeixinController" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\\log\\WeixinController.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}[%thread]%-5level %logger{1}- %message%newline" />
    </layout>
  </appender>
  <!--BL独立出来的日志文件。按日期分块。-->
  <appender name="RollingFileAppenderBLModule" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\\log\\BLModule.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}[%thread]%-5level %logger{1}- %message%newline" />
    </layout>
  </appender>
  <!--DA独立出来的日志文件。按日期分块。-->
  <appender name="RollingFileAppenderDAModule" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\\log\\DAModule.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}[%thread]%-5level %logger{1}- %message%newline" />
    </layout>
  </appender>
  <!--WCF独立出来的日志文件。按日期分块。-->
  <appender name="RollingFileAppenderWCFModule" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\\log\\WCFModule.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff}[%thread]%-5level %logger{1}- %message%newline" />
    </layout>
  </appender>

  <root>
    <!--关注的最低级别；正式发布，建议使用ERROR级别-->
    <level value="Debug" />
    <!--默认使用RollingFileAppender-->
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>

  <!--后续如果有用NHibernate，禁用其默认的日志记录-->
  <logger name="NHibernate">
    <level value="OFF" />
  </logger>
  
  <!--微信消息主动发送 模块-->
  <logger name="EG.WeChat.Service.WeiXin.WeixinMessageSender" additivity="false">
     <appender-ref ref="RollingFileAppenderWeixinMessageSender" />    
  </logger>
  <!--微信Controller 模块-->
  <logger name="EG.WeChat.Web.Controllers.WeixinController" additivity="false">
     <appender-ref ref="RollingFileAppenderWeixinController" />    
  </logger>
  <!--BL 模块-->
  <logger name="EG.WeChat.Business" additivity="false">
     <appender-ref ref="RollingFileAppenderBLModule" />    
  </logger>
  <!--DA 模块-->
  <logger name="EG.WeChat.DataAccess" additivity="false">
     <appender-ref ref="RollingFileAppenderDAModule" />    
  </logger>
  <!--WCF 模块-->
  <logger name="EG.WeChat.WcfService" additivity="false">
     <appender-ref ref="RollingFileAppenderWCFModule" />    
  </logger>

</log4net>