<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<providers resource="database.config" />-->
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  <providers resource="providers.config" />
  <database>
    <!--<provider name="ByteFx"></provider>
    <dataSource name="IBatisNet" connectionString="Database=zy_test;Data Source=localhost;User Id=root;Password=1234"/>-->
    <provider name="MySql"></provider>
    <dataSource name="IBatisNet" connectionString="Host=localhost;UserName=root;Password=;Database=tw;Port=3306;CharSet=utf8;Allow Zero Datetime=true"/>
  </database>
  <sqlMaps>
    <sqlMap resource="User.xml"/>
  </sqlMaps>
</sqlMapConfig>