<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--IE兼容标签-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--响应式布局-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui" />
    <!--启动webapp功能，会删除默认的苹果工具栏和菜单栏-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--启动webapp功能时，显示手机信号、时间、电池的顶部导航栏的颜色-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--忽略页面中的数字识别为电话号码-->
    <meta name="format-detection" content="telephone=no, email=no" />
    <!--默认使用webkit内核进行渲染-->
    <meta name="renderer" content="webkit">
    <title>主页</title>
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/ace/ace-wa-bs.css">
    <link rel="stylesheet" href="styles/ace/ace-wa.css">
    <!--<link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/diamond.css">-->
</head>
<body ng-controller="waMainCtrl">
    <waitingview></waitingview>
    <div id="header">
        <div>
            <input type="text" class="form-control" id="ss" />
            <button type="button" class="btn btn-warning">Search</button>
        </div>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <div id="pullDown">
                <span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
            </div>

            <div ng-view=""></div>

            <div id="pullUp">
                <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
            </div>
        </div>
    </div>
    <div id="footer">
        <div ng-click="goBack()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </div>
        <div ng-click="goSearch()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <div ng-click="goUp()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </div>
    </div>
    <script data-main="scripts/waMain" src="scripts/vendor/require.js"></script>
</body>
</html>
