@model EG.WeChat.Platform.BL.QYNotice.NoticeBL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    <div style="text-align:center">
        <h2>@Model.Title</h2>
        @Model.Context
    </div>
</body>
</html>
