<style>
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>

<div class="container-fluid">
    <div class="row" style="margin-left: 10px; margin-right: 10px">
        <div class="col-lg-8">
            <wxpictures></wxpictures>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>选择上传图片资源</p>
                    <div class="btn-group btn-group-sm btn-group-block" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="checkbox" autocomplete="off" checked>
                            微信資源
                        </label>
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off">
                            本地資源
                        </label>
                    </div>

                    <div class="jumbotron_M">
                        <form dropzonex action="/WXResource/ImageUpLoad" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <button type="submit" id="submit-all" disabled="disabled" class="btn btn-primary btn-lg btn-block">上  传</button>
                </div>
                <div class="panel-footer">圖片資源上傳</div>
            </div>
        </div>

    </div>

</div>

