<div>
    <style>
        #dropZone {
            background: gray;
            border: black dashed 3px;
            width: 200px;
            padding: 50px;
            text-align: center;
            color: white;
        }
    </style>
    <!-- 模态框（Modal） 选择音頻资源-->
    <div class="modal fade bs-example-modal-lg" id="UploadVoiceModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" backdrop="false">
        <div class="modal-dialog modal-lg" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">上傳音頻资源
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <!--   <input name="kb" type="text" ng-model="ipLcName" />
                        <input name="kb" type="text" ng-model="ipLcClassify" />-->
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span>&nbsp;名 稱 及 分 類</span>
                            <input ng-model="ipLcName" type="text" class="form-control" placeholder="資源名稱    示例：會員卡A" />
                            <input ng-model="ipLcClassify" type="text" class="form-control" placeholder="資源分類    示例：會員卡、金融" />
                        </div>
                        <p>點擊以下區域上傳音頻资源</p>

                        <div class="jumbotron_M">
                            <form dropzonexvoice method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                    <input type="submit" value="Upload" />
                                </div>

                            </form>
                        </div>
                    </div>
                    <div>
                        <button type="submit" id="submit-all" disabled="disabled" class="btn btn-primary btn-lg btn-block">上  传</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        關  閉
                    </button>
                    <!--        <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        確定選中
                    </button>-->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 正文內容 -->
    <div class="container-fluid">
        <div class="row" style="margin-left: 10px; margin-right: 10px">
            <!--<a href="javascript:void(0);" ng-click="UpLoadVoice('UploadVoiceModal')"><span>上傳音頻</span></a>-->
            <button class="btn btn-default btn-block" data-toggle="modal" data-target="#UploadVoiceModal">上 傳 音 頻</button>
            <wxvoiceplay></wxvoiceplay>
            <wxvoices></wxvoices>
        </div>
    </div>
</div>
