@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<a href="@Url.Action("Index","Spider")">to index</a>

<a href="@Url.Action("Phone","Spider")">to phone</a>

<a href="@Url.Action("Address","Spider")">to Address</a>

<a href="@Url.Action("Index","Spider2")">to Address</a>