<div ng-controller="ResourceManageCtrl">
    <style>
        .tab_navs, .tab_navs li {
            list-style: none; /* 将默认的列表符号去掉 */
            padding: 0; /* 将默认的内边距去掉 */
            margin: 0; /* 将默认的外边距去掉 */
            margin-left: 7px;
            margin-right: 30px;
            margin-top: 4px;
        }

            .tab_navs li {
                float: left;
            }

        ul {
            list-style: none;
        }

        a.ui_a_items {
            float: left;
        }

        li.ui_li_items {
            float: left;
            height: 40px;
            line-height: 40px;
            width: 40px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            text-align: center;
            background: #428bca;
            color: #fff;
            margin-right: 5px;
        }

            li.ui_li_items:hover {
                background: #00B6AD;
            }
    </style>
    <div class="row">
        <div class="panel panel-default" style="margin-left: 10px; margin-right: 10px">
            <div class="panel-body">
                <div>
                    <div class="row" style="margin-left: 15px; margin-bottom: 25px">
                        <ul class="tab_navs">
                            <li data-type="1" data-tab=".js_textArea" data-tooltip="文字">
                                <a class="ui_btn_text" href="javascript:void(0);" ng-click="SelectRes('text',null)">
                                    <img onmousemove="this.src='/Images/common/文本s.png'" onmouseout="this.src='/Images/common/文本g.png'" src="/Images/common/文本g.png">
                                </a>
                            </li>
                            <li data-tooltip="图片">
                                <a href="javascript:void(0);" ng-click="SelectRes('image','SelectPictureModal')">
                                    <img onmousemove="this.src='/Images/common/图片s.png'" onmouseout="this.src='/Images/common/图片g.png'" src="/Images/common/图片g.png">
                                </a>
                            </li>
                            <li data-tooltip="语音">
                                <a href="javascript:void(0);" ng-click="SelectRes('voice','SelectVoiceModal')">
                                    <img onmousemove="this.src='/Images/common/音频s.png'" onmouseout="this.src='/Images/common/音频g.png'" src="/Images/common/音频g.png">
                                </a>
                            </li>
                            <li data-tooltip="視頻">
                                <a href="javascript:void(0);" ng-click="SelectRes('video','SelectVideoModal')">
                                    <img onmousemove="this.src='/Images/common/视频s.png'" onmouseout="this.src='/Images/common/视频g.png'" src="/Images/common/视频g.png">
                                </a>
                            </li>
                            <li data-tooltip="图文消息">
                                <a href="javascript:void(0);" ng-click="SelectRes('mpnews','SelectArticleModal')">
                                    <img onmousemove="this.src='/Images/common/图文s.png'" onmouseout="this.src='/Images/common/图文g.png'" src="/Images/common/图文g.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr style="filter: alpha(opacity=100,finishopacity=0,style=1); width: 100%;" />
                    <div class="row" id="fra">
                        <div class="col-md-6 col-lg-6" style="border-right: 1px solid #ddd">
                            <div ng-show="msgType=='text'">
                                <textarea ng-model="text" style="margin-left: 15px; width: 96%" class="form-control" placeholder="請輸入群發消息文本內容" rows="7"></textarea>
                            </div>
                            <div ng-show="msgType=='image'" class="row well" style="width: 260px; margin-left: 20px;">
                                <wxpicturedisplay></wxpicturedisplay>
                            </div>
                            <div ng-show="msgType=='voice'" class="row well" style="width: 90%; margin-left: 20px;">
                                <wxvoiceplay></wxvoiceplay>
                            </div>
                            <div ng-show="msgType=='video'" class="row well" style="width: 90%; margin-left: 20px;">
                                <wxvideoplay></wxvideoplay>
                            </div>
                            <div ng-show="msgType=='mpnews'" class="row well" style="width: 360px; margin-left: 20px;">
                                <wxarticledisplay></wxarticledisplay>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" ng-show="msgType!='text'">
                            <ul ng-show="msgType=='mpnews'">
                                <a ng-click="SelectArticle(article)" ng-repeat="article in Articles|filterSubArray:curPageIndex" class="ui_a_items" data-toggle="tooltip" title="<h4>{{article.lcName}}</h4><img src='{{showNewsModelFirstPic(article)}}' style='width:160px;height:80px'></img><br/>" href="javascript:void(0);">
                                    <li class="ui_li_items">
                                        <span>{{article.lcId}}</span>
                                    </li>
                                </a>
                            </ul>
                            <ul ng-show="msgType=='image'">
                                <a ng-click="SelectPicture(picture)" ng-repeat="picture in pictures|filterSubArray:curPageIndex" class="ui_a_items" data-toggle="tooltip" title="<h4>{{picture.lcName}}</h4><img src='{{picture.RPath}}' style='width:160px;height:80px'></img><br/>" href="javascript:void(0);">
                                    <li class="ui_li_items">
                                        <span>{{picture.lcId}}</span>
                                    </li>
                                </a>
                            </ul>
                            <ul ng-show="msgType=='voice'">
                                <a ng-click="SelectVoice(voice)" ng-repeat="voice in voices|filterSubArray:curPageIndex" class="ui_a_items" data-toggle="tooltip" title="<h4>{{voice.lcName}}</h4><br/>" href="javascript:void(0);">
                                    <li class="ui_li_items">
                                        <span>{{voice.lcId}}</span>
                                    </li>
                                </a>
                            </ul>
                            <ul ng-show="msgType=='video'">
                                <a ng-click="SelectVideo(video)" ng-repeat="video in videos|filterSubArray:curPageIndex" class="ui_a_items" data-toggle="tooltip" title="<h4>{{video.lcName}}</h4><img src='{{video.RPathThumb}}' style='width:160px;height:80px'></img><br/>" href="javascript:void(0);">
                                    <li class="ui_li_items">
                                        <span>{{video.lcId}}</span>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <p style="margin-left: 20px">點擊<kbd>發送</kbd>客服消息</p>
                    <button id="ui_btnLoading_CSSend" data-loading-text="發送中，請稍後……" style="width: 200px; margin-left: 20px" type="button" class="btn btn-primary btn-sm" ng-click="SendServiceMessage()">發  送</button>
                </div>
            </div>
        </div>
    </div>
</div>
