<div ng-controller="NewsModelCtrl">
    <div ng-show="DisplayMode('A',article.media_id)">
        <!--段落1-->
        <a href="javascript:void(0);" class="thumbnail" ng-click="SelectNewsModel(article.media_id,newsmodel,1);SelectNewsModelWhenEdit(newsmodel,1)"
            style="border-radius: 0px; margin-bottom: 0px; text-decoration: none;"
            ng-repeat="newsmodel in article.ListNews | filterT1:0">
            <img ng-src="{{newsmodel.RPath}}" style="height: 100px; width: 100%">
            <p style="background-color: #f5f5f5; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{newsmodel.title}}</p>
        </a>
        <!--其他段落-->
        <ul class="thumbnails" style="list-style-type: none; padding-left: 0px">
            <li class="span4" ng-repeat="newsmodel in article.ListNews | filterT2:0" style="list-style-type: none">
                <a href="javascript:void(0);" class="thumbnail" style="border-radius: 0px; margin-bottom: 0px" ng-click="SelectNewsModel(article.media_id,newsmodel,$index+2);SelectNewsModelWhenEdit(newsmodel,$index+2)">
                    <div class="row">
                        <div class="col-xs-9 col-sm-8 col-md-9 col-lg-9">
                            <p style="margin-left: 8px; width: 100%; height: 40px; word-wrap: break-word; text-overflow: ellipsis;">{{newsmodel.title}}</p>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
                            <img ng-src="{{newsmodel.RPath}}" style="height: 50px; width: 100%">
                            <!--<img ng-src="{{newsmodel.digest}}" style="height: 50px; width: 100%">-->
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div ng-show="DisplayMode('B',article.media_id)" style="background-color: white; padding: 7px 7px 7px 7px">
        <button type="button" class="btn btn-sm btn-default btn-block" ng-click="SelectNewsModel(null,null,null)"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <h2 style="margin-left: 5px; margin-top: 5px">{{curNewsModel.title}}</h2>
        <p style="font-size: 9px">{{curDate()}}<a href="javascript:void(0);"><span>泛智(广州)咨询</span></a></p>
        <img ng-src="{{curNewsModel.RPath}}" style="height: 200px; width: 96%">
        <br />
        <br />
        <style type="text/css">
            .suofang {
                MARGIN: auto;
                WIDTH: 315px;
            }

                .suofang img {
                    MAX-WIDTH: 100%!important;
                    HEIGHT: auto!important;
                    width: expression(this.width > 315 ? "315px" : this.width)!important;
                }
        </style>
        <div class="suofang">
            <div id="{{'sm' + article.media_id+childCtrlSym}}"></div>
        </div>
        <br />
        <p style="font-size: 9px; color: gray"><a href="{{curNewsModel.content_source_url}}"><span>阅读原文</span></a>&nbsp;&nbsp;阅读&nbsp;5&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;赞</p>
    </div>
</div>

