<div ng-init="childInit()">
    <style>
        #nmw-div-main {
            padding: 1rem;
        }

            #nmw-div-main > h2 {
                overflow: hidden;
            }

        p {
            font-size: 1rem;
        }

        img {
            max-width: 100%!important;
            height: auto!important;
            width: expression(this.width > 315 ? "315px" : this.width)!important;
        }

        .suofang {
            MARGIN: auto;
            /*WIDTH: 315px;*/
        }
    </style>
    <div id="nmw-div-main">
        <h2>{{curNewsModel.title}}</h2>
        <p>{{curDate()}}<a href="javascript:void(0);"><span>英皇集团·泛智(广州)</span></a></p>
        <img ng-src="{{curNewsModel.rPath}}" />
        <br />
        <br />
        <div class="suofang">
            <div id="nmw-div-content"></div>
        </div>
        <br />
        <p style="font-size: 1rem; color: gray">
            <a href="{{curNewsModel.content_source_url}}"><span>阅读原文</span></a>&nbsp;&nbsp;阅读&nbsp;5&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;赞
        </p>
    </div>
</div>
