<div ng-controller="QYFuncMsCreateCtrl">
    <!-- 模态框（Modal） 选择图文资源-->
    <div class="modal fade bs-example-modal-lg" id="SelectArticleModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">選擇群發圖文信息
                    </h4>
                </div>
                <div class="modal-body">
                    <wxarticles ng-controller="ArticleListCtrl"></wxarticles>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        關  閉
                    </button>
                    <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        確定選中
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <!-- 模态框（Modal） 选择图片资源-->
    <div class="modal fade bs-example-modal-lg" id="SelectPictureModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="H1">選擇群發圖片信息
                    </h4>
                </div>
                <div class="modal-body">
                    <wxpictures ng-controller="PictureListCtrl"></wxpictures>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        關  閉
                    </button>
                    <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        確定選中
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <!-- 模态框（Modal） 选择視頻资源-->
    <div class="modal fade bs-example-modal-lg" id="SelectVideoModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="H2">選擇群發視頻信息
                    </h4>
                </div>
                <div class="modal-body">
                    <wxvideos ng-controller="VideoListCtrl"></wxvideos>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        關  閉
                    </button>
                    <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        確定選中
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <!-- 模态框（Modal） 选择音頻资源-->
    <div class="modal fade bs-example-modal-lg" id="SelectVoiceModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="H3">選擇群發音頻信息
                    </h4>
                </div>
                <div class="modal-body">
                    <wxvoices ng-controller="VoiceListCtrl"></wxvoices>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        關  閉
                    </button>
                    <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        確定選中
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 选择组织机构-->
    <div class="modal fade bs-example-modal-lg" id="SelectCompanyModal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="H4">選擇發送人員
                    </h4>
                </div>
                <div class="modal-body">
                    <qysendtargetmodal></qysendtargetmodal>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        關  閉
                    </button>
                    <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                        確定選中
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <style>
        .tab_navs, .tab_navs li {
            list-style: none; /* 将默认的列表符号去掉 */
            padding: 0; /* 将默认的内边距去掉 */
            margin: 0; /* 将默认的外边距去掉 */
            margin-left: 0.5em;
            margin-right: 1.3em;
            margin-top: 4px;
        }

            .tab_navs li {
                float: left;
            }
    </style>

    <!-- 主功能页面 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <div id="" class="input-group-addon">發送給：</div>
                    <input type="text" class="form-control" ng-click="openSendTargetModal()" ng-model="sendTargetText" placeholder="點擊添加部門、成員" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            请选择投票主题<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in voteList" ng-click="getVoteItem(item)"><a href="#">{{item.Title}}</a></li>

                        </ul>
                    </span>
                    <input type="text" class="form-control" readonly="readonly" ng-model="voteTitle" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="panel panel-default">
                <div class="btn-group">
                </div>
                <!--<div class="panel-body">
                    <div class="tg-div-tool">
                        <ul class="tab_navs">
                            <li data-type="1" data-tooltip="文字">
                                <a href="javascript:void(0);" class="ui_btn_text" ng-click="SelectRes('text',null)">
                                    <img onmousemove="this.src='/Images/common/文本s.png'" onmouseout="this.src='/Images/common/文本g.png'" src="/Images/common/文本g.png">
                                </a>
                            </li>
                            <li data-tooltip="图片">
                                <a ng-click="SelectRes('image','SelectPictureModal')">
                                    <img onmousemove="this.src='/Images/common/图片s.png'" onmouseout="this.src='/Images/common/图片g.png'" src="/Images/common/图片g.png">
                                </a>
                            </li>
                            <li data-tooltip="语音">
                                <a href="javascript:void(0);" ng-click="SelectRes('voice','SelectVoiceModal')">
                                    <img onmousemove="this.src='/Images/common/音频s.png'" onmouseout="this.src='/Images/common/音频g.png'" src="/Images/common/音频g.png">
                                </a>
                            </li>
                            <li data-tooltip="视频">
                                <a href="javascript:void(0);" ng-click="SelectRes('video','SelectVideoModal')">
                                    <img onmousemove="this.src='/Images/common/视频s.png'" onmouseout="this.src='/Images/common/视频g.png'" src="/Images/common/视频g.png">
                                </a>
                            </li>
                            <li data-tooltip="图文消息">
                                <a href="javascript:void(0);" ng-click="SelectRes('mpnews','SelectArticleModal')">
                                    <img onmousemove="this.src='/Images/common/图文s.png'" onmouseout="this.src='/Images/common/图文g.png'" src="/Images/common/图文g.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr style="filter: alpha(opacity=100,finishopacity=0,style=1); width: 100%;" />
                    <div class="row" id="fra">
                        <style>
                            @media only screen and (max-width:480px) {
                                .well :not(E[id='divimagex']) {
                                    padding: 0;
                                }
                            }
                        </style>
                        <div ng-show="msgType=='text'">
                            <textarea ng-model="text" style="margin-left: 1em; margin-right: 0.7em; width: 92%" class="form-control" placeholder="請輸入群發消息文本內容" rows="7"></textarea>
                        </div>
                        <div ng-show="msgType=='image'" id="divimagex" class="row" style="max-width: 260px;">
                            <wxpicturedisplay></wxpicturedisplay>
                        </div>
                        <div ng-show="msgType=='voice'" class="row">
                            <wxvoiceplay></wxvoiceplay>
                        </div>
                        <div ng-show="msgType=='video'" class="row">
                            <wxvideoplay></wxvideoplay>
                        </div>
                        <div ng-show="msgType=='mpnews'" class="row" style="max-width: 360px">
                            <wxarticledisplay></wxarticledisplay>
                        </div>

                    </div>
                </div>-->
                <div class="panel-footer">
                    <div class="row">
                        <style>
                            .ui_div_panelfooter p {
                                font-family:   "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
                                color: gray;
                                margin-left: 20px;
                            }

                            .ui_div_panelfooter div {
                                position: relative;
                                display: inline-block;
                            }

                            .ui_div_panelfooter a:hover {
                                color: #00B6AD;
                                text-decoration: none;
                                -moz-text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 35px #feff89;
                                -webkit-text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 35px #feff89;
                                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 35px #feff89;
                            }

                            .ui_div_panelfooter a:link, .ui_div_panelfooter a:visited {
                                text-decoration: none; /*超链接无下划线*/
                            }
                        </style>
                        <div class="ui_div_panelfooter">
                            <div>
                                <p>
                                    點擊<span class="label label-sm label-primary">創&nbsp;建</span>群發消息，加入待審核發送隊伍             
                                </p>
                            </div>

                            <!-- <div ng-if="isText==true">
                                 <input type="checkbox" ng-checked="isSecrect" ng-click="getSecrectFlag()"/><span class="label label-primary">保密消息</span>
                                <!--<input type="checkbox" ng-checked="isForever"/><span class="label label-default">永久保存</span>-->
                            <!--</div>-->
                        </div>

                        <button id="ui_btnLoading_Cre1" data-loading-text="創建中，請稍後……" style="width: 200px; margin-left: 20px" type="button" class="btn btn-primary btn-sm" ng-click="CreateGroupMessage()">創&nbsp;&nbsp;建</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
