<div>
    <div ng-if="EditMode==0" class="container-fluid">
        <div class="row" style="margin-left: 10px; margin-right: 10px">
            <div class="row">
                <style>
                    .tg-div-tool {
                        height: 1.6em;
                    }

                        .tg-div-tool > a:nth-child(1), .tg-div-tool > a:nth-child(2) {
                            color: gray;
                            text-decoration: none;
                        }

                        .tg-div-tool > span {
                            line-height: 2.5em;
                        }
                </style>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="article in Articles">
                    <div class="well" style="padding: 3px 3px 19px 3px">
                        <wxarticledisplay></wxarticledisplay>
                        <div class="tg-div-tool">
                            <a href="javascript:void(0);" class="tg-btn-round btn-default tg-el-fleft">
                                <span>{{article.lcId}}</span>
                            </a>
                            <span>{{article.lcName}}</span>
                            <a href="javascript:void(0);" ng-click="Delete($index,article)" class="tg-btn-round btn-danger tg-el-fright">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href="javascript:void(0);" ng-click="SetSelection(article)" class="tg-btn-round btn-primary tg-el-fright">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                            <a href="javascript:void(0);" ng-click="Edit(article)" class="tg-btn-round btn-primary tg-el-fright">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <pagesuc></pagesuc>
            <br />
        </div>
    </div>
    <wxarticleedit ng-if="EditMode==1" ng-controller="ArticleEditCtrl"></wxarticleedit>
</div>
