<div>
    <div ng-if="EditMode==0" class="container-fluid">
        <div class="row">
            <div class="row">
                <style>
                    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    .tg-div-tool {
                        height: 1.6em;
                    }

                        .tg-div-tool > a:nth-child(1), .tg-div-tool > a:nth-child(2) {
                            color: gray;
                            text-decoration: none;
                        }

                        .tg-div-tool > span {
                            line-height: 2.5em;
                        }
                </style>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="article in Articles">
                    <div class="well" style="padding: 3px 3px 19px 3px; margin-left: 2px; margin-right: 2px">
                        <wxarticledisplay></wxarticledisplay>
                        <div class="tg-div-tool">
                            <a href="javascript:void(0);" class="tg-btn-round btn-default tg-el-fleft">
                                <span>{{article.lcId}}</span>
                            </a>
                            <span>{{article.lcName}}</span>
                            <a href="javascript:void(0);" ng-click="Delete($index,article)" class="tg-btn-round btn-danger tg-el-fright">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href="javascript:void(0);" ng-click="SetSelection(article)" class="tg-btn-round btn-primary tg-el-fright">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                            <a href="javascript:void(0);" ng-click="Edit(article)" class="tg-btn-round btn-primary tg-el-fright">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <pagesuc></pagesuc>
            <br />
        </div>
    </div>
    <wxarticleedit ng-if="EditMode==1" ng-controller="ArticleEditCtrl"></wxarticleedit>
</div>
