<div>
    <style>
        .tg-wrappanelitem > img {
            width: inherit;
            height: inherit;
        }
    </style>
    <div ng-repeat="picture in pictures">
        <div class="tg-wrappanelitem">
            <div class="tg-wrappanelitem tg-mask">
                <!--<p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{picture.FileName}}</p>-->
                <a href="javascript:void(0);" ng-click="SetSelection(picture,picture.media_id)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <img ng-src="{{picture.RPath}}" onerror="PicNofind();">
        </div>

    </div>
    <pagesuc style="clear: both;"></pagesuc>
    <br />
     <br />
     <br />
</div>
