<div class="row">
    <style>
        ul {
            list-style: none;
        }

        .ui_span_name {
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        li.ui_li_items {
            float: right;
            height: 30px;
            line-height: 30px;
            width: 30px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            text-align: center;
            background: #428bca;
            color: #fff;
            margin-left: 5px;
        }

            li.ui_li_items.info {
                float: left;
                height: 30px;
                line-height: 30px;
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
                border-radius: 15px;
                background: #fff;
                color: gray;
                font-size: 20px;
                text-align: center;
            }

                li.ui_li_items.info.lcid {
                    margin-left: -40px;
                    width: 30px;
                }

                li.ui_li_items.info.lcname {
                    width: 100%;
                    max-width: 60px;
                    line-height: 28px;
                    padding: 0px 10px 0px 10px;
                }

            li.ui_li_items.del {
                background: #ff4b4b;
            }

            li.ui_li_items:hover {
                background: #00B6AD;
            }

        /*.ui_a_thumbnail::after {
            content: "";
            position: absolute;
            background: rgba(0,0,0,0.5);
            display: block;
            margin-left: 0px;
            margin-right: 0px;
            height: 100px;
        }*/

        .ui_a_thumbnail {
            position: relative;
            display: inline-block;
            outline: none;
            text-decoration: none;
            color: #000;
            width: 100%;
            font-size: 18px;
            /*padding: 0 10px;*/
        }

            /* 大框 */
            .ui_a_thumbnail:hover::before {
                content: url(/Images/common/play.png);
                line-height: 230px;
                display: block;
                position: absolute;
                background: rgba(0,0,0,0.7);
                /*top: -15%;
                left: -14%;*/
                width: 100%;
                height: 128%;
                border-style: solid;
                border-width: 4px;
                border-color: #DDD;
            }

            /* 大框 */
            .ui_a_thumbnail::before {
                content: attr(name);
                display: block;
                position: absolute;
                background: rgba(0,0,0,0.4);
                /*top: -15%;
                left: -14%;*/
                width: 100%;
                height: 100%;
                border-style: solid;
                /*border-width: 4px;*/
                border-color: #DDD;
                color: #fff;
                font-family:   "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
            }

        /* 小框 */
        /*.ui_a_thumbnail:hover::after {
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                border-width: 2px;
            }*/
    </style>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="video in videos">
        <div class="well" style="padding: 3px 3px 30px 3px">
            <div>
                <a name="{{video.lcName}}" href="javascript:void(0);" ng-click="Play(video)" class="ui_a_thumbnail" style="margin-bottom: 5px; text-decoration: none;">
                    <img src="{{video.RPathThumb}}" style="height: 150px; width: 100%">
                    <!-- <p style="margin-bottom: 0px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{video.lcName}}</p>-->
                </a>
            </div>
            <ul>
                <a href="javascript:void(0);" ng-click="DeleteVideo($index,video)">
                    <li class="ui_li_items del"><span class="glyphicon glyphicon-remove"></span></li>
                </a>
                <a href="{{video.RPath}}">
                    <li class="ui_li_items"><span class="glyphicon glyphicon-arrow-down"></span></li>
                </a>
                <a href="javascript:void(0);" ng-click="SetSelection(video)">
                    <li class="ui_li_items"><span class="glyphicon glyphicon-ok"></span></li>
                </a>
                <a href="javascript:void(0);" ng-click="Play(video)">
                    <li class="ui_li_items"><span class="glyphicon glyphicon-play"></span></li>
                </a>
                <li class="ui_li_items info lcid">
                    <p>
                        <span>{{video.lcId}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-left: 10px;">
        <pagesuc></pagesuc>
    </div>
</div>
