<div class="row">
    <style>
        ol {
            counter-reset: li; /* 创建一个计数器 */
            list-style: none; /* 清除列表默认的编码*/
            *list-style: decimal; /* 让IE6/7具有默认的编码 */
            font: 15px 'trebuchet MS', 'lucida sans';
            padding: 0;
            margin-bottom: 4em;
            /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
        }

            ol ol {
                margin: 0 0 0 2em; /* 给二级列表增加一定的左边距*/
            }

        .rounded-list a.info {
            width: auto;
            position: relative;
            display: block;
            padding: 0.4em 4em 0.4em 4em;
            *padding: 0.4em; /*for ie6/7*/
            margin: 0.5em 0;
            background: #f5f5f5;
            color: #fff;
            text-decoration: none;
            /*CSS3属性*/
            border-radius: 0.3em; /*制作圆角*/
            /* transition动画效果*/
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

            .rounded-list a.info:hover {
                background: #eee;
            }

        .rounded-list a span {
            color: #777;
        }

        .rounded-list a.info:hover::before {
            /*悬停时旋转编码*/
            /*-moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);*/
            background: #00B6AD;
        }

        .rounded-list a.info::before {
            content: attr(name);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #428bca;
            height: 2.5em;
            width: 2.5em;
            line-height: 2em;
            border: 0.3em solid #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .rounded-list a.act {
            position: relative;
            display: block;
            padding: 0.4em 2em 0.4em 1em;
            *padding: 0.4em; /*for ie6/7*/
            margin: 0.5em 0.3em;
            background: #f5f5f5;
            color: #fff;
            text-decoration: none;
            /*CSS3属性*/
            border-radius: 0.3em; /*制作圆角*/
            /* transition动画效果*/
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

            .rounded-list a.act:hover {
                background: #eee;
            }

            .rounded-list a.act::after {
                content: "X";
                counter-increment: li;
                position: absolute;
                right: -1.3em;
                top: 50%;
                margin-top: -1.3em;
                background: #ff4b4b;
                height: 2.5em;
                width: 2.5em;
                line-height: 2em;
                border: 0.3em solid #fff;
                text-align: center;
                font-weight: bold;
                border-radius: 2em;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

            .rounded-list a.act:hover::after {
                background: #00B6AD;
            }

        .rounded-list a.del {
            position: relative;
            display: block;
            padding: 0.4em 0.4em 0.4em 0.4em;
            *padding: 0.4em; /*for ie6/7*/
            margin: 0.5em 0.3em;
            background: #f5f5f5;
            color: #fff;
            text-decoration: none;
            /*CSS3属性*/
            border-radius: 1em; /*制作圆角*/
            /* transition动画效果*/
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        @media screen and (max-width: 645px) {
            .sp-hide {
                display: none;
            }

            .rounded-list a.info {
                padding: 0.4em 1.5em 0.4em 1.5em;
            }
        }
    </style>
    <div class="row" style="margin-left: 13px; margin-right: 10px">
        <ol class="rounded-list">
            <li ng-repeat="voice in voices">
                <div style="clear: both; float: left">
                    <div style="float: left">
                        <a href="javascript:void(0);" class="info" ng-click="Play(voice)" name="{{$index+1}}">
                            <span>名  稱&nbsp;&nbsp;{{voice.lcName}}</span>&nbsp;&nbsp;&nbsp;
                            <span class="sp-hide" style="color: white; font-weight: bolder">|</span>&nbsp;&nbsp;&nbsp;
                            <span class="sp-hide">分  類&nbsp;&nbsp;{{voice.lcClassify}}</span>&nbsp;&nbsp;&nbsp;
                            <span class="sp-hide" style="color: white; font-weight: bolder">|</span>&nbsp;&nbsp;&nbsp;
                            <span class="sp-hide">時  長&nbsp;&nbsp;{{voice.VLength}}</span>&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                    <div style="float: left" ng-click="DeleteVoice($index,voice)">
                        <a class="act" href="javascript:void(0);">
                            <span>{{voice.lcId}}</span>
                        </a>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="row">
        <pagesuc></pagesuc>
        <br />
    </div>
</div>

